<div ng-show="is_backend_ready">
    <h1>your todo app</h1>
    <h2>Remaining {{ remaining() }} of {{todoItems.length}}  items</h2>
    <p>Search: <input name="search" type="text" ng-model="todoSearch"></p>
    <p><a href="#todo-create">Create new</a></p>
    <ul>
        <li ng-repeat="todo in todoItems | filter:todoSearch |orderBy: 'sort'"><todo url="#/todo-detail/{{todo.id}}" item="todo"></todo></li>
    </ul>
</div>